.selectStatus {
  width: 200px!important;
  margin-left: 20px;
}

.people {
  width: 60px!important;
  margin-right: 20px;
  margin-left: 20px;
}

.label {
  width: 50px;
  margin-bottom: 0px;
}

.bill {
  width: 100px!important;
  margin-right: 5px;
  margin-left: 20px!important;
}